<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devionlabs.ray.studentaggregator">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->

    <!--<permission-->
        <!--android:name="com.example.gcm.permission.C2D_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->
    <uses-permission android:name="com.mycompany.myappname.c2dm.permission.RECEIVE" />
    <permission android:name="com.mycompany.myappname.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

   <!--<uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/applogohome"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Login"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.AddAccount"
            android:label="Add Account"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ActivityMenu"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.AttendanceActivity"
            android:label="Attendance"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.Test"
            android:label="Attendance"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".TestJson"
            android:label="ReadJson"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.AddStudent"
            android:label="Add Student"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.Initialize"
            android:label="Initialize"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.ActivityFee"
            android:label="Fee Payments"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.Payment"
            android:label="Pay Fee"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.ActivityEvent"
            android:label="Notification"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.StudentVerification"
            android:label="Student Verification"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.Absence"
            android:label="Absence Reason"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.VideoPlayer"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".TestNotification"
            android:label="Notification"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.Notification"
            android:label="Notification"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.StudentsInformation"
            android:label="Student&apos;s Information"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".activity.ServicesActivity"
            android:label="Services"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".ActivityUserAccount"
            android:label="My Profile"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".TestActivity"
            android:label="Student aggregator"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name=".FullScreenViewActivity"
            android:label="Gallery"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleTheme" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:label="Crop Image"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.ActivityGallery" />
        <activity android:name=".activity.ImageGallery" />
        <activity
            android:name="com.etiennelawlor.imagegallery.library.activities.ImageGalleryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:theme="@style/ImageGalleryTheme" />
        <activity android:name=".activity.HostImageGalleryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:theme="@style/ImageGalleryTheme" ></activity>

        <service
            android:name=".gcm.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver android:name=".other.AlarmReceiver" />
        <receiver
            android:name=".other.SampleBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.test.devionlabs.s_testlaunch" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="26e3c50a6f21b581e7d21d4a8639daac1d9259ba" />

    </application>

</manifest>